{% load static %}
<div class="row">
  <div class="col-2">
    <h1>Freshness to your Events!</h1>
    <p>
      Welcome to our enchanting flower shop, where beauty blooms and dreams take
      flight. From vibrant bouquets to elegant arrangements, we craft each
      creation with passion and artistry, ensuring every petal speaks a language
      of love and joy.
    </p>
    <a href="" class="btn">Explore Now &#8594;</a>
  </div>
  <div class="col-2">
    <img src="{% static 'css/images/image1.png'%}" />
  </div>
</div>
